<% if current_user %>
<%= link_to t('.new', :default => t("helpers.links.new")),
    new_news_path,
    :class => 'btn btn-circle btn-xl btn-primary ' %>
<% end %>

<table class="table ">
  <thead>
    <tr>
      <th>co</th>
      <th>czego</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td>  <%= link_to image_tag(news.foto_news.url(:kolo), class: 'img-circle'), news_path(news)%></td>
        <td><%= news.co %></td>
        <td><%= news.czego %></td>
        <% if current_user %>

        <td>
          <td><%= link_to 'show', news_path(news), :class => 'btn btn-default btn-lg btn-circle '  %></td>
        <td>  <%= link_to 'edit', edit_news_path(news), :class => 'btn btn-warning btn-lg btn-circle' %></td>
          <td><%= link_to 'destroy', news_path(news),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-lg btn-circle btn-danger' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
