<%- model_class = News -%>

<div class="col-md-6 ">
    <%= image_tag @news.foto_news.url(:medium_news), :class => 'img-responsive' %>
  </div>
  <div class="col-md-6 ">

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:co) %>:</strong></dt>
  <dd><%= @news.co %></dd>
  <dt><strong><%= model_class.human_attribute_name(:czego) %>:</strong></dt>
  <dd><%= @news.czego %></dd>
  <dt><strong><%= model_class.human_attribute_name(:czas1) %>:</strong></dt>
  <dd><%= @news.czas1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:czas2) %>:</strong></dt>
  <dd><%= @news.czas2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:czas3) %>:</strong></dt>
  <dd><%= @news.czas3 %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              news_index_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_news_path(@news), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              news_path(@news),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
