<% if current_user %>
<%= link_to t('.new', :default => t("helpers.links.new")),
    new_thing_path,
    :class => 'btn btn-circle btn-xl btn-primary ' %>
<% end %>
<table class="table">
  <thead>
    <tr>

      <th></th>
      <th><%= :title %></th>
      <th><%= :opisik %></th>

      <th><%= :meta %></th>

      <th><%= :rodzaj %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody >
    <% @things.each do |thing| %>
      <tr class="jeden-opis">

        <td class="foto">
        <%= link_to image_tag(thing.foto.url(:kolo), class: 'img-circle'), thing_path(thing)%></td>
        <td><%= thing.title %></td>
        <td><%= thing.opisik %></td>

        <td><%= thing.meta.first(280) %></td>

        <td><%= thing.rodzaj %></td>



        <% if current_user %>
        <td>
          <%= link_to 'Show', thing_path(thing), :class => 'btn btn-default btn-lg btn-circle ' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_thing_path(thing), :class => 'btn btn-default btn-warning btn-lg btn-circle ' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      thing_path(thing),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-lg btn-danger btn-circle ' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
