<!DOCTYPE html>
<html>
<head>
  <title>Sztuczka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="animsition">
<%= render 'layouts/menu' %>

<div class="container">
<%= yield %>
</div>
</div>
</body>
</html>
